PORT=4000
USER_SERVICE_URL=http://localhost:4001
RESTAURANT_SERVICE_URL=http://localhost:4002
ORDER_SERVICE_URL=http://localhost:4003
DELIVERY_SERVICE_URL=http://localhost:4004
NOTIFICATION_SERVICE_URL=http://localhost:4005
